<h1>Рекламные адреса</h1>
<table>
  <tr>
    <td style="width:150px;">
      <table>
        <tr>
          <th>Адрес</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      <% @points.each do |p| %>
        <tr>
          <td style="width:90%;"><%= link_to p.address, edit_point_path(p) %></td>
          <td><%= link_to '[x]', p, :confirm => 'Вы уверены?', :method => :delete %></td>
        </tr>
      <% end %>
      </table>
    </td>
    <td>
      <%= render 'form' %>
    </td>
  </tr>
</table>


<br />

