<h2>QRit.in - сервис для работы с матричными кодами.</h2>
<%= link_to 'Зарегистрируйтесь', new_user_registration_path %> и вы сможете:
<ul>
<li>создавать</li>
<li>редактировать</li>
<li>хранить</li>
</ul>
QR коды, следить за статистикой их считывания.
<br/>
Вместе с нами ваша жизнь станет проще!
