<h2>Перший український сервіс для роботи з QR кодами.</h2>
<%= link_to 'Зареєструйтесь', new_user_registration_path %> і ви зможете створювати, редагувати i зберігати
QR коди. 
<br/>
Разом з нами ваше життя стане простішим!
