<% if @event_point %>
  <p>
  <% if @unique %>
    Вы на этой странице в первый раз 
  <% else %>
    Вы уже были на этой странице
  <% end %>
  </p>
  Вы отсканировали код, размещенный по адресу <%= @event_point.point.address %>
  <br/><br/>
  <%=sanitize @event_point.event.description.gsub(/\r/, '<br />') %>
  <br/><br/>
  <% if @chance %>
    Код вашей скидки <%=  10000 + rand(10000) %>
  <% else %>
    Вам не повезло, вероятность получения скидки 1 к 2
  <% end %>
<% else %>
  Такой записи не существует
<% end%>
