<tr>
  <td><%= form.label :phone %></td>
  <td><%= form.text_field :phone %></td>
</tr>
<tr>
  <td><%= form.label :message %></td>
  <td><%= form.text_area :message, :rows => 4, :cols => 25 %></td>
</tr>
